* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: '微软雅黑', Helvetica;
  background-color: #86bdf8;
}
.all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.name {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.8);
  z-index: 3;
}
.name input {
  width: 200px;
  font-size: 23px;
  color: #555555;
  background-color: #f3f3f3;
  border: none;
  border-bottom: 2px solid #bbbbbb;
}
.name button {
  display: block;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 17px;
  color: #fff;
  background-color: #805b6b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.name button:active {
  transform: scale(0.95);
}
.main {
  position: relative;
  left: 0;
  width: 60vw;
  height: 70vh;
  background-color: rgba(255, 255, 255, 1);
  border: 2px #eeeeee solid;
  border-radius: 10px;
  box-shadow: 3px 5px 9px #cccccc;
}
.header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 10px;
  font-size: 24px;
  color: #555555;
  border-bottom: 2px solid #eeeeee;
}
.header .header-image_wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.header img {
  width: 100%;
  height: 100%;
}
.header h1 {
  margin-left: 10px;
  font-size: 24px;
}
#container {
  display: flex;
  height: calc(70vh - 80px);
}
.conversation {
  width: calc(100% - 240px);
  border-right: 2px #eeeeee solid;
}
#messages {
  height: 450px;
  padding: 10px;
  overflow-y: auto;
}
#messages::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
#messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
#messages::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
}
p.system {
  margin: 5px;
  text-align: center;
  color: #888888;
}
p.system span {
  display: inline-block;
  margin-bottom: 7px;
  padding: 1px 5px;
  background-color: #eeeeee;
  border-radius: 9px;
}
#messages li {
  float: left;
  width: 100%;
  margin-bottom: 5px;
  list-style: none;
}
#messages li img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
#messages li p img {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}
#messages li p .sendImg {
  max-width: 300px;
  max-height: 188px;
  width: auto;
  height: auto;
  border-radius: 5px;
}
#messages li p span {
  padding-top: 7px;
}
.right {
  display: grid;
  grid-template: repeat(2, minmax(20px, 40px)) / calc(100% - 40px) 40px;
  grid-template-areas: 'a b' 'a c';
}
.right img {
  grid-area: b;
  place-self: end center;
}
.right span {
  grid-area: c;
  place-self: start center;
}
.right div {
  grid-area: a;
  place-self: start end;
  margin-right: 5px;
}
.left {
  display: grid;
  grid-template: repeat(2, minmax(20px, 40px)) / 40px calc(100% - 40px);
  grid-template-areas: 'a b' 'c b';
}
.left img {
  grid-area: a;
  place-self: end center;
}
.left span {
  grid-area: c;
  place-self: start center;
}
.left div {
  grid-area: b;
  place-self: start start;
  margin-left: 5px;
}
#messages li div > span {
  display: block;
  padding-left: 2px;
  color: #555555;
}
#messages li div p {
  display: flex;
  max-width: 300px;
  height: auto;
  margin-top: 5px;
  padding: 10px;
  font-size: 15px;
  word-wrap: break-word;
  border-radius: 5px;
}
.left p {
  background-color: #d5d3d3;
}
.right p {
  background-color: #86bdf8;
}
form {
  height: calc(100% - 450px);
  border-top: 1px #ddd solid;
  position: relative;
}
.edit {
  position: relative;
  width: 100%;
  height: 35px;
  padding-left: 10px;
  font-size: 20px;
  line-height: 35px;
  color: #7f8393;
}
.edit i {
  padding: 5px 6px;
  cursor: pointer;
}
.edit i:hover {
  background-color: #e2e2e2 !important;
}
.edit .selectBox {
  position: absolute;
  bottom: 34px;
  left: 0px;
  display: none;
  background-color: #fff;
  z-index: 3;
}
.shaking {
  animation: run 0.2s infinite;
}
@keyframes run {
  0% {
    left: 0;
  }
  25% {
    left: -10px;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}
.edit #file {
  width: 30px;
  height: 30px;
  opacity: 0;
  z-index: 5;
}
.edit #img {
  margin-left: -43px;
  z-index: 0;
}
#color {
  position: relative;
  width: 25px;
  background-color: none;
  border: none;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
#color:focus {
  outline: none;
}
.edit #font {
  position: absolute;
  top: 3px;
  left: 9px;
  z-index: 0;
}
.smile {
  width: 460px;
  height: auto;
  box-sizing: border-box;
  padding-top: 5px;
  border: 1px #eeeeee solid;
  box-shadow: 1px 1px 1px #cccccc;
}
.smile p {
  height: 35px;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 35px;
  color: #555555;
}
.emoji {
  width: 100%;
  height: 210px;
  padding: 0 18px;
  overflow-y: scroll;
}
.emoji li {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 4px 0 0 2px;
  box-sizing: border-box;
  line-height: 35px;
  list-style: none;
  overflow: hidden;
}
.emoji li:hover {
  padding-top: 1px;
  background-color: #f3f3f4;
  cursor: pointer;
}
.emoji li img {
  width: 30px;
  height: 30px;
}
.emoji::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.emoji::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.emoji::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
}
textarea {
  display: block;
  width: 100%;
  height: calc(100% - 70px);
  padding: 10px;
  font-size: 16px;
  font-family: '微软雅黑';
  border: none;
  resize: none;
}
textarea:focus,
.btn:focus,
.name input:focus,
.name button:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.95);
}
textarea::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
textarea::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
}
button.btn {
  float: right;
  width: 65px;
  height: 25px;
  margin-right: 5px;
  color: #ffffff;
  background-color: #805b6b;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
button.btn.rBtn {
  margin-right: 10px;
}
.btn:hover {
  background-color: #b495a1;
}
.contacts {
  width: 240px;
  height: 100%;
  padding: 10px;
}
.contacts h1 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
.contacts ul {
  width: 100%;
}
.contacts li {
  display: inline-block;
  width: 23%;
  height: 65px;
  margin: 0 2% 5px 0;
  text-align: center;
}
.contacts li img {
  width: 100%;
  height: 45px;
}
.contacts li > span {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.contacts p {
  margin-top: 70px;
  text-align: center;
  color: #555555;
}
